.Background{
    height: 950px;
    width: auto;
    background-image: linear-gradient(rgb(73, 233, 245),rgb(204, 101, 195));
    overflow-x: hidden;
    
}

.Header{
    width: 800px;
    margin: 0 auto;
    padding: 0px;
    position: relative; 
}

.Main{
    position: absolute;
    margin-top: 20px;
    width: 800px;
    height: 800px;
    border-radius: 8px;
    box-shadow: 0 0 25px #000000;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 0;
    
}


#titulo{
    position: absolute;
    padding: 0px;
    left: 180px;
    color: white;
    font-size: 50px;
    border-bottom: solid;
    border-color: #cc65c3;
}

#Lista{
    cursor: pointer;
    position: absolute;
    top: 200px;
    padding: 20px;
    padding-top: 50px;
    left: 310px;
    color: white;
    font-size: 30px;
}

#Lista:hover li{
    
    color: rgba(255, 255, 255, 0.705);

}